
.PrimaryButton {
    border: 0;
    padding: 15px 30px;
    background-color: var(--primary-red);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}
.PrimaryButton span {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}
.PrimaryButton svg {
    margin-left: 5px;
}
.PrimaryButton svg path:nth-child(1) {
    transition: .1s all ease-in-out;
}
.PrimaryButton svg path:nth-child(2) {
    transition: .2s all ease-in-out;
}
.PrimaryButton:hover svg path:nth-child(1) {
    transform: translateX(3px);
}
.PrimaryButton:hover svg path:nth-child(2) {
    transform: translateX(2px);
}
.PrimaryButton.bordered {
    background-color: transparent;
    border: 1px solid var(--primary-red);
    margin: 0;
}