.Contact {
    width: 100%;
    height: 130px;
    background-color: var(--primary-red);
    box-sizing: border-box;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Contact-title,
.Contact-itens,
.Contact-whatsapp,
.Contact-phone {
    display: flex;
    align-items: center;
}
.Contact-title span {
    display: block;
    margin-left: 15px;
    font-weight: 800;
    color: #54000D;
    font-size: 1.5em;
}
.Contact-whatsapp span,
.Contact-phone span {
    display: block;
    margin-left: 15px;
    color: #fff;
    font-weight: 800;
}
.Contact-phone {
    margin-left: 50px;
}
@media (max-width: 620px) {
    .Contact {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 5vw;
        height: auto;
    }
    .Contact-itens {
        flex-direction: column;
        margin-top: 20px;
        padding-top: 30px;
        width: 100%;
        align-items: flex-start;
        border-top: 1px solid #54000d;
    }
    .Contact-phone {
        margin: 0;
        margin-top: 25px;
    }
}