.Header {
    width: 100%;
    height: 151px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .2s all ease-in-out;
    z-index: 1000;
}
.Header.mini {
    background-color: #000000b8;
    backdrop-filter: saturate(180%) blur(10px);
}
.Header,
.Header button,
.Header button span,
.Header a {
    color: #fff;
}
.Header a {
    text-decoration: none;
}
.Header button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.Header button,
.Header button span,
.Header a,
.Header-nav-iten-link,
.Header-nav-iten-link svg path,
.Header-account,
.Header-account span,
.Header-account svg path,
.Header-cart path,
.Header-logo svg path {
    transition: .1s all ease-in-out;
}
.Header-logo:hover svg path:nth-child(18) {
    fill: var(--primary-red);
}
.Header-logo:hover svg path:nth-child(19) {
    fill: var(--primary-blue);
}
.Header-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
}
.Header-action,
.Header-nav {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.Header-action {
    justify-content: space-between;
}
.Header-action-container {
    display: flex;
    align-items: center;
}
.Header-account:hover span,
.Header-account:hover svg path,
.Header-cart:hover svg path {
    color: var(--primary-red);
    fill: var(--primary-red);
}
.Header-account {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.Header-account span {
    margin-left: 10px;
    font-size: 1.1em;
}
.Header-cart {
    display: flex;
    align-items: center;
}
.Header-cart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--primary-red);
    margin-left: 10px;
}
.Header-nav {
    border-top: 1px solid #515151;
}
.Header-nav ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Header-nav-iten-link {
    font-weight: 700;
}
.Header-nav-iten-link svg {
    margin-left: 10px;
}
.Header-nav-iten:hover .Header-nav-iten-link,
.Header-nav-iten:hover .Header-nav-iten-link svg path {
    color: var(--primary-red);
    fill: var(--primary-red);
}
@media (min-width: 769px) {
    .Header.mini {
        transform: translateY(-50%);
    }
}
@media (max-width: 768px) {
    .Header {
        height: 101px;
    }
    .Header-action {
        height: 100px;
    }
    .Header-nav {
        height: 1px;
    }
    .Header-nav ul {
        display: none;
    }
}