.Footer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 5vw;
    background-color: #252423;
}
.Footer-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #484848;
    padding-bottom: 50px;
}
.Footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: auto;
}
.Footer-nav li a {
    color: #A7A7A7;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
}
.Footer-social {
    display: flex;
    align-items: center;
}
.Footer-social svg:nth-child(2) {
    margin-left: 20px;
}
.Footer-down span {
    display: block;
    margin-top: 50px;
    color: #A7A7A7;
}
@media (max-width: 799px) {
    .Footer-up {
        flex-direction: column;
        align-items: center;
    }
    .Footer-nav,
    .Footer-social {
        margin: 0;
        margin-top: 30px;
    }
    .Footer-down {
        text-align: center;
    }
}
@media (max-width: 520px) {
    .Footer-up {
        align-items: flex-start;
    }
    .Footer-up svg,
    .Footer-social {
        margin-left: 10px;
    }
    .Footer-social {
        margin-top: 45px;
    }
    .Footer-social svg:nth-child(2) {
        margin-left: 45px;
    }
    .Footer-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .Footer-nav li {
        margin-top: 25px;
        font-size: 1.5em;
    }
}